//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

.app-root-2022-tdr_report .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;

  .photo_headline_container {
    background-color: #ccc;
    padding-bottom: 30%;
  }
  .quote_container {
    margin: auto auto;
    max-width: 600px;
    position: relative;
    width: 100%;
    overflow: visible;
    .quote_element {
      &.quote_mark {
        position: relative;
        transform: translate(0, -200px);
        &.visible {
          transform: translate(0, 0);
          transition-delay: 250ms;
          transition-duration: 3s;
          transition-property: transform;
          transition-timing-function: linear;
        }
      }
      &.quote_text_upper {
        position: relative;
        transform: translate(0, -150px);
        &.visible {
          transform: translate(0, 0);
          transition-delay: 250ms;
          transition-duration: 1.5s;
          transition-property: transform;
          transition-timing-function: ease;
        }
      }
      &.quote_text_lower {
        position: relative;
        transform: translate(0, 150px);
        &.visible {
          transform: translate(0, 0);
          transition-delay: 250ms;
          transition-duration: 1.5s;
          transition-property: transform;
        }
      }
      &.quote_signature {
        position: relative;
        transform: translate(0, 200px);
        &.visible {
          transform: translate(0, 0);
          transition-delay: 250ms;
          transition-duration: 3s;
          transition-property: transform;
        }
      }
    }
  }
  .video_container {
    video {
      width: 100%;
    }
  }
  .chart_container {
    margin: auto auto;
    max-width: 600px;
    .title_container {
      margin: 0 0 20px 0;
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
      }
      h4 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
      }
    }
    .chart {
      min-height: 440px;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      width: 100%;
      .tooltip_container {
        .tooltip_header {
          color: #000;
          font-size: 20px;
          margin: 0 0 10px 0;
        }
        .tooltip_label {
          font-size: 18px;
          font-weight: 400;
        }
        .tooltip_value {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

@import 'basics.less';